.logo{
    font-family: "Antic Didone", serif;
    font-size: 1.75rem;
    a{
        display: block;
        padding: 0.875rem 1.875rem;
        border: 1px solid #fff;
    }
}

@media screen and (max-width: 1150px) {
    .logo{
        font-size: 1.25rem;
        a{
            padding: 0.65rem 1.65rem;
        }
    }
}